.form {
  display: flex;
  background: rgb(17 16 16);
  flex-direction: column;
  /* width: 100%; */
  margin: auto;
  width: 500px;
  border-radius: 20px;
  padding: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.user_name {
  color: aliceblue;
  padding: 10px;
}

.form_email {
  color: aliceblue;
  padding: 10px;
}

.form_message {
  color: rgb(21, 22, 22);
  padding: 20px;
  background-color: #fff;
}

.label_form {
  color: #fff;
  font-size: 1.2rem;
}

.form_error {
  color: red;
}

.input_form {
  padding: 10px 18px;
  background-color: #fff;
}

.form_submit_button {
  background-color: #fff;
  padding: 10px 30px;
  border-color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
.form_submit_button:hover {
  opacity: 0.8;
}
