/* .content_name_landing { */
/* width: 280px; */
/* } */

.name_landing {
  color: #e50914;
  letter-spacing: 3px;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  background: rgb(20, 20, 20);
}
