body {
  margin: 0;
  background-color: #000;
  font-family: Arial;
}

h1 {
  color: red;
  text-align: center;
}

.proyects {
  font-size: 1.3rem;
  color: #fff;
  margin-left: 80px;
  font-weight: bold;
}

.content_card {
  width: 287px;
  border-radius: 5px;
  /* overflow: hidden !important; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 100%);
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

.wrapper section {
  width: 83%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin: 49px auto;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
}
.wrapper .item {
  position: relative;
  padding: 0 2px;
  transition: 250ms all;
}
.item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
}

.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.left-arrow {
  top: 0;
  bottom: 0;
  left: -45px;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.right-arrow {
  top: 0;
  bottom: 0;
  right: -43px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.image_carrusel {
  width: 287px;
  border-radius: 5px;
  height: 158px;
}

.content_title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 288px;
  border-radius: 5px;
  height: 158px;
  font-size: 0.8rem;
}
.content_title:hover {
  background-color: #000;
  opacity: 0.5;
  width: 287px;
}

.heading {
  color: #fff;

  background-color: transparent;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 0%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 70px 20px;
  justify-content: center;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.swiper-wrapper {
  position: relative;
  width: 88%;
  margin: auto;
  height: 100%;
  z-index: 1;
  display: flex;

  transition-property: transform;
  box-sizing: content-box;
}

@media (max-width: 575.98px) and (orientation: portrait) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .content_card {
    display: flex;
    flex-direction: column;
  }
  .heading {
    margin: auto;
    font-size: 0.8rem;
  }
}
