.content_navBar {
  top: 0px;
  /* position: fixed; */

  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  opacity: 2;
  display: flex;
  /* margin-bottom: 200px; */
}

.ul_navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.ul_navBar li {
  list-style-type: none;
  color: #fff;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
