/* MOBILE */
@media (min-width: 250px) and (max-width: 480px) {
  .ul_navBar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
  }
  .ul_navBar li {
    list-style: none;
    text-decoration: none;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  .content_title {
    text-align: center;
    width: 200px;
  }
}

/* DESCKTOP */
@media (min-width: 481px) and (min-width: 992px) {
  .ul_navBar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    flex-direction: row;
  }
  .ul_navBar li {
    list-style: none;
    text-decoration: none;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  .content_title {
    text-align: center;
    width: 200px;
  }
}
