.content_button_music {
  display: flex;
  position: absolute;
  top: 60%;
  left: 9%;
  padding: 10px 25px;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.button_music {
  padding: 10px 50px;
  background-color: #fff;
  cursor: pointer;
  color: black;
  top: 127px;
  font-weight: bold;
  font-size: 1rem;
  border-color: #fff;
  border-radius: 5px;
  position: absolute;
}
.button_music:hover {
  opacity: 0.8;
}
